*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;  
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 199, 46, 0.911);
    
}
header ul{
    display: flex;
    flex-direction: row;
    width: 900px;
    justify-content:space-around;
    align-items: center;
    height: 170px;
    list-style: none;
    font-size: x-large;
    
}
ul a{
    text-decoration: none;
    color: black;
    
}

.contenedor1{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 150px 800px;
    margin: 35px;
    justify-items: start;
    grid-template-areas: 
    "h3"
    "ul"
    "img";
    
}
.contenedor1 h3{
    grid-area:h3;
    font-size: 70px;

}
.contenedor1 img{
    grid-area: img;
}

.contenedor1 ul{
    grid-area: ul;
    font-size: xx-large ;
    
}


footer{
    display: grid;
    background-color: black; 
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-template-areas:
    "footer1 footer3"
    "footer2 footer3" ;
}
.footer .footer1,
.footer .footer2,
.footer .footer3{
    margin: 15px;
    font-size: x-large;

}
.footer1{
    grid-area: footer1;
}
.footer2{
    grid-area: footer2;
}
.footer3{
    grid-area: footer3;
    align-self: center;
}

html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media screen and (max-width:500px) {
    .contenedor1{
        grid-template-rows: 100px 250px auto;

    }
    .contenedor1 h3,
    .contenedor1 ul,
    .contenedor1 img{
        width: 400px;
        
    }
    .contenedor1 h3{
        font-size: 50px;

    }
    .contenedor1 ul{
        
        font-size: 30px;
    }
    .footer .footer1,
    .footer .footer2,
    .footer .footer3{
        font-size: 20px;
    }
    
}